


.link{
  text-decoration: none;
  color: #000000;
}
.menuItems.open {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 50px;
  }

  .menuItems {
    display: block;
  }
  .open {
    width: 100%;
    
  }

.toggleButton{
    display: none;
}

@media (max-width:749px){

    .toggleButton{
        display: block;
    }
    .open {
        display: none;
      }
    
}